@model WorldDomination.Security.Test.WebApplication.Areas.Authentication.Models.IndexViewModel

@{
    ViewBag.Title = @Model.Title;
}

@Html.DisplayFor(x => x.Authentication)
<hr/>
<h2>@Model.Title</h2>

-the end-
<hr/>
